<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <title>Heru Tamvan</title>
      <link rel="stylesheet" href="/css/style.css">
      <script src="/send_url.js"></script>
    </head>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/" >HOME</a>
    </header>
    <h1>Heru Benowo Tamvan</h1>
  </body>
</html>
