<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daftar Pencarian Orang</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Aplikasi Daftar Pencarian Orang</h2>
        <h1 class="title">DPO</h1>
        <p class="description">
          LIST orang-orang yang termasuk daftar pencarian oleh POLDA Metro Jaya.
          <br>
          Apabila anda mengenal orang-orang di daftar, mohon segera hubungi kami. Maacih :D
        </p>
        <a class="index-button" href="/index" >Lihat DPO</a>
        <br>
        <a class="index-button" href="/herutamvan" >Assignment Heru</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
